{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categor&iacute;as</title>
    
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'CSS/styleProductos.css' %}">
    
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!--GoogleFont-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    
    <!--Letra Marca-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Workbench:SCAN@-41&display=swap" rel="stylesheet">

    <!--Letra Nav-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Workbench:SCAN@-41&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <!--Iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-8dN9Xqg3a0l+5g/gJ/u19GUvN5b06qGlvX7MyFim5nEnqLJqk5v1JAz+HH9K2xM8" crossorigin="anonymous">

</head>

<body>
  <!--Navegador-->
  <nav class="navbar navbar-expand-lg navegador">
    <div class="container-fluid">
        <!-- Nombre de la empresa -->
        <a class="navbar-brand letra-marca" href="#">
            <img src="{% static 'IMG/logo.jpg' %}" class="rounded-circle" alt="Logo" width="50" height="50"
                class="d-inline-block align-text-top">
            PixelPulse Gaming
        </a>
        <!-- Botón para dispositivos móviles -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Contenido del menú -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto">
                <a class="nav-link active letra-blanca " aria-current="page" href="{% url 'index' %}">INICIO</a>
                <a class="nav-link letra-blanca" href="{% url 'categorias' %}">CATEGORIAS</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link letra-blanca disabled" href="#">PERFIL</a>
                <a class="nav-link letra-blanca" href="{% url 'login' %}">INICIAR SESI&Oacute;N</a>
                <a class="nav-link letra-blanca" href="{% url 'registrar' %}">CREAR CUENTA</a>
            </div>
        </div>
    </div>
</nav>


  <header class="container contenedor-titulo text-center">
    <h1 class="titulo kalam-regular">Tarjetas de Video</h1>
  </header>

  <section>
    <div class="container"> 
        <div class="row">
            <!--ProductoUno-->
            <div class="col-lg-4 col-md-12 col-sm-12 fila"> 
                <img src="{% static 'IMG/tarjetaDeVideoUno.jpg' %}" alt="Tarjeta de video" class="imagenes img-fluid">
            </div>
            <div class="col-md-8 fila"> 
                <div class="text-center">
                    <h3 class="titulo-producto">
                      Tarjeta de Video Gigabyte Radeon RX6900XT Gaming OC 16G 4K GDDR6 PCle 4.0 [ GV-R69XTGAMINGOC-16GD ]
                    </h3>
                </div>
                <p>
                  Con tecnología RDNA2 Radeon™ RX 6900 XT. Integrada con interfaz de memoria GDDR6 de 16 GB y 256 bits. 
                  Sistema de enfriamiento WINDFORCE 3X con ventiladores giratorios alternativos Nanolubricante de grafeno Placa posterior de metal con protección de BIOS dual. 
                  RGB Fusion 2.0. RELOJ DE NÚCLEO: Boost Clock hasta 2285 MHz / Game Clock hasta 2050 MHz.
                  El sistema de refrigeración WINDFORCE 3X cuenta con 3 ventiladores de aspa únicos de 80 mm, giro alternativo, 6 tubos de calor de cobre compuesto,
                  GPU de contacto directo con placa de cobre grande y ventilador activo 3D, que juntos brindan una disipación de calor de alta eficiencia.
                </p>
                <div class="d-flex justify-content-end align-items-end">
                    <button class="btn btn-outline-light boton botonRojo" type="reset" id="btnBorrar">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    <button class="btn btn-outline-light boton botonVerde" type="submit" id="btnAgregar">
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                </div>

                <div>
                    <h4 class="precio">
                        Precio: $ 2.871.000
                    </h4>
                </div>

            </div>
        </div>
        
        <!--ProductoDos-->
        <div class="row mt-4">
            <div class="col-lg-4 col-md-12 col-sm-12 fila"> 
                <img src="{% static 'IMG/tarjetaDeVideoDos.png' %}" alt="Tarjeta de video" class="imagenes img-fluid">
            </div>
            <div class="col-md-8 fila"> 
                <div class="text-center">
                    <h3 class="titulo-producto">
                      EVGA GeForce RTX 3080 12GB FTW3 ULTRA GAMING [12G-P5-4877-KL]
                    </h3>
                </div>
                <p>
                  Presentamos las tarjetas gráficas EVGA GeForce RTX 3080 de 12 GB: creadas y diseñadas para jugadores. 
                  La nueva GeForce RTX 3080 de 12 GB cuenta con un 20 % más de VRAM en comparación con la GeForce RTX 3080, 
                  más núcleos CUDA y un ancho de banda de memoria más rápido para brindar más rendimiento para juegos de alta resolución y configuraciones de calidad visual más exigentes.
                </p>
                
                <div class="d-flex justify-content-end align-items-end">
                    <button class="btn btn-outline-light boton botonRojo" type="reset" id="btnBorrar">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    <button class="btn btn-outline-light boton botonVerde" type="submit" id="btnAgregar">
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                </div>

                <div class="container">
                    <h4 class="precio">
                       Precio: $ 1.462.990
                    </h4>
                </div>
            </div>
        </div>
</section>
  
<!--Pie de pagina-->
<footer class="container-fluid">
    <p>Derechos Reservados &copy; 2024 PixelPulse Gaming</p>
</footer>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>  
</body>
</html>