{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--Carrusel-->

    <div class="text-center" role="alert" style="background-color: transparent; color: black">
        Clima actual: {{ clima }}
    </div>

  <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
              class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="{% static '/IMG/carruselUno.jpg' %}" class="d-block w-100 img-fluid" alt="Setup gaming">
          </div>
          <div class="carousel-item">
              <img src="{% static '/IMG/carruselTres.jpg' %}" class="d-block w-100 img-fluid" alt="Notebook gammer">
          </div>
          <div class="carousel-item">
              <img src="{% static '/IMG/carruselDos.avif' %}" class="d-block w-100 img-fluid" alt="Notebook gammer">
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>

{% endblock %}